# anyio
authlib
# certifi
# cffi
# charset-normalizer
# click
# colorama
cryptography
fastapi[all]
# greenlet
# h11
# httptools
# idna
# itsdangerous
# pycparser
# pydantic
pymysql
# python-dotenv
# pyyaml
requests
# sniffio
sqlalchemy
# starlette
# typing-extensions
# urllib3
# uvicorn[standard]
# uvloop
# watchfiles
# websockets
